/* app/assets/stylesheets/custom.scss */
@import "bootstrap-sprockets";
@import "honoka";

/*header*/
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
}

.header-right{
    float:right;
}

/*top*/
.top-wrapper{
  background-image: image-url("clock.jpg");
  padding: 300px 0 300px 0;
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  font-family:'sans-serif';
}

.top-wrapper p{
  font-family:'Hiragino Kaku Gothic Pro';
}

.tweet-container{
  padding: 50px 0 50px 0;
  margin:100px;
  border-bottom:solid 1px #eee;
}

.fa-heart{
    color:red;
}
.fa-retweet{
    color:green;
}

/*timeline*/
.post-panel {
  padding: 5px 5px 5px 5px;
  margin-bottom: 0px;
}
.post {
  padding-left: 65px;
}
.tweet-image{
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  img {
    border-radius: 50%;
    border: 5px solid #fff;
  }
}
.post-image{
  img {
    max-height: 250px;
    max-width: 300px;
  }
}

.login-section{
  float: right;
  margin-right: 15px;
}

/*sidebar*/
.sidebar {
  margin-top: 25px;
  position: fixed;
}
.profile-image {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 100px;
  height: 100px;
  margin: -40px 0px 0px 10px;
}

.btn{
  margin-top:20px;
}