
<div class="top-wrapper">
    <div class="container">
        <h1>Chime Tweet</h1>
        <p>指定時刻に予約ツイート、自動ツイート削除</p>
        <%= form_tag('auth/twitter') do %>
            <%= submit_tag("Twitterログイン", class: "btn btn-outline-primary") %>
        <% end %>

    </div>
</div>